<!DOCTYPE html>
<html lang="nl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Just Do It</title>
    <link rel="stylesheet" href="/assets/css/reset.css">
    <link rel="stylesheet" href="/assets/css/main.css">
</head>
<body class="container--page">
    {{> navigation }}
    <main class="main">
    {{{ body }}}
    </main>


<script src="https://kit.fontawesome.com/db5fbe6cb2.js" crossorigin="anonymous"></script>
<script src="/assets/script/script.js"></script>
</body>
</html>